
<section class="service-wrp">
	<div class="center-wr">
		<div class="service-inr">
			<h3 class="wow fadeInDown">Our Services</h3>
			<div class="service-row">
				<div class="indvdl-service wow fadeInLeft" data-wow-delay="0.2s" >
					<div class="servc-icon">
						<svg width="98" height="98" viewBox="0 0 98 98" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_d)">
						<circle cx="48.8057" cy="49.2952" r="33.5472" fill="white"/>
						</g>
						<path d="M61.0045 34.5527H36.6072C35.1727 34.5527 34.0056 35.7198 34.0056 37.1543V61.436C34.0056 62.8705 35.1727 64.0376 36.6072 64.0376H61.0045C62.439 64.0376 63.6061 62.8705 63.6061 61.436V37.1543C63.6061 35.7198 62.439 34.5527 61.0045 34.5527ZM36.6072 36.2871H61.0045C61.4826 36.2871 61.8717 36.6762 61.8717 37.1543V41.4903H35.74V37.1543C35.74 36.6762 36.129 36.2871 36.6072 36.2871ZM61.0045 62.3032H36.6072C36.129 62.3032 35.74 61.9141 35.74 61.436V43.2247H61.8717V61.436C61.8717 61.9141 61.4826 62.3032 61.0045 62.3032Z" fill="#FF6347" stroke="#FF6347" stroke-width="0.197336"/>
						<path d="M51.7492 45.8967C51.309 45.7081 50.7991 45.912 50.6105 46.3522L45.4073 58.493C45.2186 58.9332 45.4225 59.443 45.8627 59.6317C46.3031 59.8204 46.8128 59.6163 47.0014 59.1762L52.2046 47.0354C52.3933 46.5952 52.1894 46.0854 51.7492 45.8967Z" fill="#FF6347"/>
						<path d="M44.2796 48.7535C43.9803 48.3795 43.4345 48.3189 43.0607 48.6181L38.7247 52.0869C38.2911 52.4336 38.2908 53.0942 38.7247 53.4412L43.0607 56.91C43.4347 57.2092 43.9805 57.1485 44.2796 56.7746C44.5787 56.4006 44.5182 55.8548 44.1441 55.5557L40.6546 52.764L44.1441 49.9724C44.5182 49.6732 44.5787 49.1275 44.2796 48.7535Z" fill="#FF6347"/>
						<path d="M58.8868 52.0869L54.5508 48.6181C54.1768 48.3188 53.631 48.3795 53.3319 48.7535C53.0327 49.1275 53.0933 49.6732 53.4674 49.9724L56.9569 52.764L53.4674 55.5557C53.0933 55.8549 53.0327 56.4006 53.3319 56.7745C53.6315 57.1489 54.1773 57.2088 54.5508 56.9099L58.8868 53.4412C59.3203 53.0944 59.3206 52.4339 58.8868 52.0869Z" fill="#FF6347"/>
						<path d="M45.3369 39.7559C45.8159 39.7559 46.2041 39.3676 46.2041 38.8887C46.2041 38.4097 45.8159 38.0215 45.3369 38.0215C44.858 38.0215 44.4697 38.4097 44.4697 38.8887C44.4697 39.3676 44.858 39.7559 45.3369 39.7559Z" fill="#FF6347"/>
						<path d="M54.009 39.7559H59.2122C59.6912 39.7559 60.0794 39.3676 60.0794 38.8887C60.0794 38.4098 59.6912 38.0215 59.2122 38.0215H54.009C53.5301 38.0215 53.1418 38.4098 53.1418 38.8887C53.1418 39.3676 53.5301 39.7559 54.009 39.7559Z" fill="#FF6347"/>
						<defs>
						<filter id="filter0_d" x="0.458323" y="0.947824" width="96.6948" height="96.6948" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
						<feOffset/>
						<feGaussianBlur stdDeviation="7.40011"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0.119167 0 0 0 0 0.252925 0 0 0 0 0.595833 0 0 0 0.15 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
						</defs>
						</svg>
					</div>
					<h4>Web <br>Development</h4>
					<p>We offer unique and secure web application development solutions needs.</p>
				</div>
				<div class="indvdl-service wow fadeInLeft" data-wow-delay="0.3s" >
					<div class="servc-icon">
						<svg width="98" height="98" viewBox="0 0 98 98" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_d)">
						<circle cx="48.9434" cy="49.2952" r="33.5472" fill="white"/>
						</g>
						<path d="M61.2402 43.9098C61.2414 43.8408 61.2428 43.7719 61.2428 43.7027C61.2428 36.9934 55.7844 31.5349 49.075 31.5349C42.3657 31.5349 36.9073 36.9934 36.9073 43.7027C36.9073 43.7719 36.9087 43.8409 36.9099 43.9098C32.9299 45.9207 30.1965 50.0311 30.1965 54.7643C30.1965 61.4736 35.688 66.9321 42.4381 66.9321C44.885 66.9321 47.165 66.2054 49.075 64.9575C50.9851 66.2054 53.2651 66.9321 55.712 66.9321C62.462 66.9321 67.9535 61.4736 67.9535 54.7643C67.9535 50.0311 65.2201 45.9207 61.2402 43.9098ZM49.075 62.1778C47.1912 60.4896 45.9526 58.0959 45.7785 55.4164C46.8273 55.712 47.933 55.8705 49.075 55.8705C50.2171 55.8705 51.3228 55.712 52.3716 55.4164C52.1974 58.0959 50.9588 60.4896 49.075 62.1778ZM49.075 53.6582C47.9619 53.6582 46.8908 53.4745 45.8905 53.1358C46.2676 50.8537 47.4232 48.8311 49.075 47.3508C50.7268 48.8311 51.8825 50.8537 52.2596 53.1358C51.2593 53.4745 50.1882 53.6582 49.075 53.6582ZM43.8262 52.1583C41.4401 50.6717 39.7261 48.2042 39.2523 45.324C40.2536 44.9901 41.3249 44.8089 42.4381 44.8089C44.1765 44.8089 45.8119 45.2572 47.2358 46.0437C45.556 47.6768 44.3451 49.7894 43.8262 52.1583ZM50.9143 46.0437C52.3381 45.2572 53.9736 44.8089 55.712 44.8089C56.8252 44.8089 57.8965 44.9901 58.8978 45.324C58.424 48.2042 56.71 50.6717 54.3239 52.1583C53.805 49.7894 52.5941 47.6768 50.9143 46.0437ZM49.075 33.7472C54.3435 33.7472 58.6685 37.8611 59.0082 43.0451C57.9591 42.7532 56.8536 42.5965 55.712 42.5965C53.2651 42.5965 50.9851 43.3232 49.075 44.5711C47.165 43.3232 44.885 42.5965 42.4381 42.5965C41.2964 42.5965 40.191 42.7532 39.1418 43.0451C39.4816 37.8611 43.8065 33.7472 49.075 33.7472ZM42.4381 64.7198C36.9079 64.7198 32.4089 60.2538 32.4089 54.7643C32.4089 51.1857 34.3213 48.0425 37.1845 46.2875C37.967 49.8899 40.3488 52.9027 43.5471 54.5407C43.5457 54.6151 43.5442 54.6895 43.5442 54.7643C43.5442 58.181 44.9603 61.2727 47.2358 63.4849C45.8119 64.2714 44.1765 64.7198 42.4381 64.7198ZM55.712 64.7198C53.9736 64.7198 52.3381 64.2714 50.9143 63.4849C53.1897 61.2727 54.6059 58.181 54.6059 54.7643C54.6059 54.6895 54.6044 54.6151 54.603 54.5407C57.8013 52.9027 60.1831 49.8899 60.9655 46.2875C63.8288 48.0425 65.7412 51.1857 65.7412 54.7643C65.7412 60.2538 61.2422 64.7198 55.712 64.7198Z" fill="#356CF9"/>
						<defs>
						<filter id="filter0_d" x="0.596018" y="0.947824" width="96.6948" height="96.6948" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
						<feOffset/>
						<feGaussianBlur stdDeviation="7.40011"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0.119167 0 0 0 0 0.252925 0 0 0 0 0.595833 0 0 0 0.15 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
						</defs>
						</svg>
					</div>
					<h4>UI / UX <br> Designing</h4>
					<p>We offer unique and secure web application development solutions needs.</p>
				</div>
				<div class="indvdl-service wow fadeInLeft" data-wow-delay="0.4s" >
					<div class="servc-icon">
						<svg width="97" height="97" viewBox="0 0 97 97" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_d)">
						<circle cx="48.5472" cy="48.5472" r="33.5472" fill="white"/>
						</g>
						<path d="M40.8078 29.8003H57.4968C59.6347 29.8003 61.374 31.5397 61.374 33.6775V63.3933C61.374 65.5312 59.6347 67.2706 57.4968 67.2706H40.8078C38.6699 67.2706 36.9305 65.5312 36.9305 63.3933V33.6775C36.9305 31.5397 38.6699 29.8003 40.8078 29.8003V29.8003ZM44.8253 31.9958L45.1071 32.6671C45.2651 33.0435 45.631 33.2867 46.0392 33.2867H52.2654C52.6736 33.2867 53.0395 33.0435 53.1975 32.6671L53.4793 31.9958H44.8253ZM39.1261 63.3933C39.1261 64.3206 39.8805 65.075 40.8078 65.075H57.4968C58.424 65.075 59.1785 64.3206 59.1785 63.3933V33.6775C59.1785 32.7503 58.424 31.9958 57.4968 31.9958H55.8605L55.2219 33.517C54.7206 34.7109 53.5602 35.4823 52.2654 35.4823H46.0392C44.7445 35.4823 43.584 34.7109 43.0828 33.517L42.4441 31.9958H40.8078C39.8805 31.9958 39.1261 32.7503 39.1261 33.6775V63.3933Z" fill="#FF6347"/>
						<path d="M46.8328 61.3162H51.4713C52.0776 61.3162 52.5691 61.8077 52.5691 62.4139C52.5691 63.0202 52.0776 63.5117 51.4713 63.5117H46.8328C46.2265 63.5117 45.735 63.0202 45.735 62.4139C45.735 61.8077 46.2265 61.3162 46.8328 61.3162Z" fill="#FF6347"/>
						<path d="M49.1523 37.9392C51.8377 37.9392 54.0225 40.124 54.0225 42.8094C54.0225 43.8529 53.6925 44.8209 53.1315 45.6144C53.7056 46.4292 54.0225 47.4094 54.0225 48.4214C54.0225 49.465 53.6925 50.4329 53.1315 51.2264C53.7056 52.0412 54.0225 53.0214 54.0225 54.0335C54.0225 56.7189 51.8377 58.9037 49.1523 58.9037C46.4669 58.9037 44.2821 56.7189 44.2821 54.0335C44.2821 53.0214 44.599 52.0412 45.173 51.2264C44.612 50.4329 44.2821 49.465 44.2821 48.4214C44.2821 47.4094 44.599 46.4292 45.173 45.6144C44.612 44.8209 44.2821 43.8529 44.2821 42.8094C44.2821 40.124 46.4669 37.9392 49.1523 37.9392V37.9392ZM46.4776 48.4214C46.4776 49.8962 47.6775 51.096 49.1523 51.096C50.6271 51.096 51.8269 49.8962 51.8269 48.4214C51.8269 47.9504 51.7019 47.4921 51.4719 47.0908C50.7819 47.4662 49.9916 47.6796 49.1523 47.6796C48.313 47.6796 47.5227 47.4662 46.8326 47.0908C46.6026 47.4921 46.4776 47.9505 46.4776 48.4214V48.4214ZM49.1523 40.1347C47.6775 40.1347 46.4776 41.3346 46.4776 42.8094C46.4776 44.2842 47.6775 45.4841 49.1523 45.4841C50.6271 45.4841 51.8269 44.2842 51.8269 42.8094C51.8269 41.3346 50.6271 40.1347 49.1523 40.1347ZM49.1523 56.7081C50.6271 56.7081 51.8269 55.5082 51.8269 54.0334C51.8269 53.5625 51.7019 53.1041 51.4719 52.7028C50.7819 53.0781 49.9916 53.2916 49.1523 53.2916C48.313 53.2916 47.5227 53.0781 46.8326 52.7028C46.6026 53.1041 46.4776 53.5625 46.4776 54.0334C46.4776 55.5082 47.6775 56.7081 49.1523 56.7081Z" fill="#FF6347"/>
						<defs>
						<filter id="filter0_d" x="0.199778" y="0.199778" width="96.6948" height="96.6948" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
						<feOffset/>
						<feGaussianBlur stdDeviation="7.40011"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0.119167 0 0 0 0 0.252925 0 0 0 0 0.595833 0 0 0 0.15 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
						</defs>
						</svg>
					</div>
					<h4>Mobile <br> Development</h4>
					<p>We offer unique and secure web application development solutions needs.</p>
				</div>
				<div class="indvdl-service wow fadeInLeft" data-wow-delay="0.5s">
					<div class="servc-icon">
						<svg width="97" height="97" viewBox="0 0 97 97" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_d)">
						<circle cx="48.5472" cy="48.5472" r="33.5472" fill="white"/>
						</g>
						<path d="M30.8213 49.2065V60.248C30.8213 61.5115 31.8451 62.5353 33.1087 62.5353C34.3722 62.5353 35.396 61.5115 35.396 60.248V49.2065H30.8213Z" fill="white"/>
						<path d="M39.7054 52.2463H35.1033C32.1745 52.2463 29.8003 49.8721 29.8003 46.9434C29.8003 44.0146 32.1745 41.6404 35.1033 41.6404H39.7054V52.2463Z" fill="white"/>
						<path d="M59.2361 34.6868V57.7181C59.2361 58.5736 58.2569 59.068 57.5751 58.551C51.5746 54.0026 48.2872 51.5055 40.6781 51.5055H38.6172V40.8991H40.6781C48.2872 40.8991 51.5746 38.4021 57.5751 33.8536C58.2569 33.3369 59.2361 33.8311 59.2361 34.6868V34.6868Z" fill="white"/>
						<path d="M37.085 51.506H34.0133C31.085 51.506 28.7117 49.1306 28.7117 46.2023C28.7117 44.7382 29.3056 43.4132 30.2638 42.453C31.2242 41.4926 32.5492 40.8987 34.0131 40.8987H37.0848C35.6206 40.8987 34.2957 41.4926 33.3355 42.453C32.377 43.4134 31.7834 44.7384 31.7834 46.2023C31.7834 49.1306 34.1567 51.506 37.085 51.506Z" fill="white"/>
						<path d="M49.1635 42.3685C46.8225 43.2038 44.6866 43.4343 44.6411 43.4391C43.5311 43.552 43.6224 45.2022 44.7295 45.2022C44.7593 45.2022 44.7896 45.2007 44.8201 45.1976C44.9158 45.1879 47.1923 44.9488 49.7576 44.033C50.2174 43.8691 50.4571 43.3634 50.293 42.9038C50.1286 42.4438 49.622 42.2041 49.1635 42.3685Z" fill="#356CF9"/>
						<path d="M53.2243 40.1194C52.86 40.4411 52.4428 40.7493 51.9842 41.036C51.5704 41.2948 51.4446 41.84 51.7034 42.2539C51.8711 42.5221 52.1589 42.6692 52.4537 42.6692C52.6136 42.6692 52.7758 42.6257 52.9214 42.5347C53.4618 42.1969 53.9574 41.8301 54.3942 41.4446C54.76 41.1215 54.7947 40.563 54.4719 40.1971C54.1487 39.8313 53.5904 39.7964 53.2243 40.1194V40.1194Z" fill="#356CF9"/>
						<path d="M59.05 32.9617C58.3933 32.6356 57.6238 32.7076 57.0253 33.1615C47.5174 40.3683 46.7395 40.0154 34.0141 40.0154C28.3302 40.0154 25.6551 47.0885 29.9369 50.8496V60.2483C29.9369 61.9966 31.3593 63.4188 33.1073 63.4188C34.8567 63.4188 36.28 61.9966 36.28 60.2483V52.3891C46.4377 52.3891 47.7096 52.1818 57.0412 59.2552C58.3014 60.2108 60.1197 59.3069 60.1197 57.7179V34.6868C60.1197 33.9506 59.7097 33.2898 59.05 32.9617ZM34.5125 60.2483C34.5125 61.0218 33.8822 61.6513 33.1073 61.6513C32.3338 61.6513 31.7044 61.0218 31.7044 60.2483V51.9401C32.9209 52.4317 33.8603 52.3891 34.5125 52.3891V60.2483ZM37.7325 50.6216H34.0141C31.5773 50.6216 29.5948 48.6391 29.5948 46.2024C29.5948 43.7656 31.5773 41.7831 34.0141 41.7831H37.7325V50.6216ZM58.3522 57.7179C58.3522 57.7829 58.3224 57.8306 58.2636 57.8598C58.1797 57.9013 58.1267 57.86 58.0926 57.8341C50.9846 52.4463 48.2056 50.6216 39.5011 50.6216V41.7829C48.2531 41.7829 51.031 39.9233 58.1092 34.558C58.1271 34.5445 58.1803 34.5037 58.2639 34.5448C58.3228 34.5739 58.3525 34.6219 58.3525 34.6868V57.7179H58.3522Z" fill="#356CF9" stroke="#356CF9" stroke-width="0.493341"/>
						<path d="M65.0554 46.5353H67.7491C68.2371 46.5353 68.6328 46.1396 68.6328 45.6516C68.6328 45.1635 68.2371 44.7678 67.7491 44.7678H65.0554C64.5673 44.7678 64.1716 45.1635 64.1716 45.6516C64.1716 46.1396 64.5673 46.5353 65.0554 46.5353Z" fill="#356CF9" stroke="#356CF9" stroke-width="0.493341"/>
						<path d="M65.6287 40.0329L68.3224 37.742C68.6942 37.4256 68.7393 36.8679 68.4229 36.4961C68.1068 36.1242 67.5491 36.0792 67.1771 36.3953L64.4836 38.6862C64.1118 39.0024 64.0667 39.5603 64.3831 39.9321C64.699 40.3037 65.2567 40.349 65.6287 40.0329V40.0329Z" fill="#356CF9" stroke="#356CF9" stroke-width="0.493341"/>
						<path d="M68.3219 53.5614L65.628 51.2705C65.2559 50.9543 64.6983 50.9996 64.3821 51.3713C64.0657 51.7431 64.1108 52.301 64.4826 52.6171C67.3765 55.0782 67.3113 55.1184 67.7485 55.1184C68.5636 55.1184 68.95 54.0959 68.3219 53.5614Z" fill="#356CF9" stroke="#356CF9" stroke-width="0.493341"/>
						<defs>
						<filter id="filter0_d" x="0.199778" y="0.199778" width="96.6948" height="96.6948" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
						<feOffset/>
						<feGaussianBlur stdDeviation="7.40011"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0.119167 0 0 0 0 0.252925 0 0 0 0 0.595833 0 0 0 0.15 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
						</defs>
						</svg>
					</div>
					<h4>Digital <br> Marketing</h4>
					<p>We offer unique and secure web application development solutions needs.</p>
				</div>
			</div>
		</div>
	</div>
</section>