<section class="center-wr" style="margin-top:150px;">
    <h1><%= title %></h1>
    <form method="POST" action="/users">
        <label>Username:<input type="text" name="titlename"></label>
        <br>
        <input type="submit" value="user">
    </form>
</section>
